In [ ]:
import sqlite3 as sql 

vt=sql.connect("ogretmen.sqlite")
im=vt.cursor()
im.execute("UPDATE personel SET isim='Hüseyin' WHERE id=2 ")
vt.commit()
vt.close()

In [ ]:
liste1=['ogrenci','ogretmen','veli']
liste2=['ortalama','brans','adres']
for i in range(0,3):
    komut=f"CREATE TABLE {liste1[i]}(id,isim,{liste2[i]})"
    im.execute(komut)

In [ ]:
komut1="CREATE TABLE IF NOT EXISTS ogrenci(ID,isim,ortalama)"
komut2="CREATE TABLE IF NOT EXISTS ogretmen(ID,isim,brans)"
komut3="CREATE TABLE IF NOT EXISTS veli(ID,isim,adres)"
im.execute(komut1)
im.execute(komut2)
im.execute(komut3)
komut4="INSERT INTO ogrenci(ID,isim,ortalama) VALUES (1,'Semih Sarı',85)"
komut5="INSERT INTO ogretmen(ID,isim,brans) VALUES (1,'Ozan Alptekin','Python')"
komut6="INSERT INTO veli(ID,isim,adres) VALUES (1,'Neşe Sarı','Manisa')"
im.execute(komut4)
im.execute(komut5)
im.execute(komut6)

In [ ]:
isim=input("İsminizi giriniz: ")
ortalama=int(input("Lütfen ortalamanızı giriniz: "))
komut="INSERT INTO ogrenci(isim) VALUES (?)"
im.execute(komut,(isim,))

komut="SELECT * FROM ogrenci"
komut="SELECT * FROM ogrenci WHERE ortalama LIKE '9%'"
verilerim=im.execute(komut).fetchall()
print(verilerim)
#print(im.fetchone())

In [ ]:
def VeriGir():
    vt=sql.connect("ogretmen.sqlite")
    im=vt.cursor()
    komut="CREATE TABLE IF NOT EXISTS personel(id,isim,brans,ders_saati)"
    komut2="INSERT INTO personel(id,isim,brans,ders_saati) VALUES (1,'Ozan','Bilgisayar',20)"
    komut3="INSERT INTO personel(id,isim,brans,ders_saati) VALUES (2,'Efe','Matematik',10)"
    komut4="INSERT INTO personel(id,isim,brans,ders_saati) VALUES (3,'Zeynep','Kimya',25)"
    im.execute(komut)
    im.execute(komut2)
    im.execute(komut3)
    im.execute(komut4)
    vt.commit()
    vt.close()

In [ ]:
def Arama(islem):
    vt=sql.connect("ogretmen.sqlite")
    im=vt.cursor()
    if islem ==1:
        id1=int(input("ID giriniz: "))    
        print(im.execute("SELECT * FROM personel WHERE id=?",(id1,)).fetchall())
    elif islem==2:
        basHarf=input("İsmin baş harfini giriniz:")
        print(im.execute(f"SELECT * FROM personel WHERE isim LIKE '{basHarf}%'").fetchall())
    elif islem ==3:
        saat=int(input("Ders saati giriniz: "))
        print(im.execute(f"SELECT * FROM personel WHERE ders_saati > {saat}").fetchall())
    else:
        print("Yanlış sayı girdiniz")
    vt.commit()
    vt.close()
#VeriGir()
Arama(3)